body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: rgb(71, 71, 71);
  color: beige;
}

main {
  color: #333;
}

button {
    padding: 0px 8px;
    margin-right: 8px;
    border-width: 1px;
    border-radius: 4px;
    font-size: 110%;
}

button:hover {
  background-color: darkgray;
}